.auth {
    min-height: 100vh;
    display: flex;
}

.auth > * {
    margin: auto;
}

.register-card {
    justify-content: space-between;
    width: 700px;
    height: 400px;
    padding: 20px;
}

.user-form {
    display: flex;
    flex-direction: column;
}

.user-form > mat-form-field:nth-child(3) {
    margin-bottom: 15px;
}

.user-form > button {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background: #3657fb;
    color: #ffffff;
}

.user-form > button:disabled {
    background: #e1e1e1;
    color: #000000;
}