<div class="task-management">
    <mat-card class="tasks-card" appearance="outlined">
        <mat-card-content class="tasks-card-content">
            <strong>
                <h1>{{ titleCard.toUpperCase() }}</h1>
            </strong>
            <div class="user-content">
                <h3>Nombre del usuario</h3>
                <div class="example-button-container">
                    <button mat-fab extended>
                        <mat-icon>logout</mat-icon>
                        Cerrar sesión
                    </button>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content class="tasks">
            <div class="list-tasks">
                @for (item of items; track $index) {
                    <mat-card class="card" appearance="outlined">                    
                            <mat-card-content class="card-content">
                                Tarea {{ item }}
                                <div class="card-checkbox">
                                    <span>Completado!</span>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                    <button mat-fab extended>
                                        <mat-icon>menu</mat-icon>
                                    </button>
                                </div>
                            </mat-card-content>
                    </mat-card>
                }
            </div>
            <mat-divider vertical="true" style="height: 530px;"></mat-divider>
            <div class="form-task">
                <h1>Formulario de tareas</h1>
            </div>
        </mat-card-content>
    </mat-card>
</div>
  