<div class="task-management">
    <mat-card class="tasks-card" appearance="outlined">
        <mat-card-content class="tasks-card-content">
            <strong>
                <h1>{{ cardTitle.toUpperCase() }}</h1>
            </strong>
            <div class="user-content">
                <h3>{{ username }}</h3>
                <div class="example-button-container">
                    <button mat-stroked-button extended (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        Cerrar sesión
                    </button>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content class="tasks">
            <div class="list-tasks">
                <div *ngIf="taskList.length > 0; else noTasks">
                    <mat-card class="card" appearance="outlined" *ngFor="let task of taskList; let i = index">
                        <mat-card-content class="card-content">
                            <div>
                                <p><strong>Titulo:</strong> {{ task.title }}</p>
                                <p><strong>Descripción:</strong> {{ task.description }}</p>
                                <p><strong>Fecha de vencimiento:</strong> {{ task.dueDate | date }}</p>
                            </div>
                            <div class="card-checkbox">
                                <span>Completado!</span>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                                <button mat-stroked-button [matMenuTriggerFor]="menu" #menuTrigger>
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="getTaskById(task.id)">
                                        <mat-icon>edit</mat-icon>
                                        Editar
                                    </button>
                                    <button mat-menu-item (click)="deleteTask(task.id)">
                                        <mat-icon>delete</mat-icon>
                                        Eliminar
                                    </button>
                                </mat-menu>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <ng-template #noTasks>
                    <p>{{ taskList }}</p>
                    <p>Sin tareas registradas</p>
                </ng-template>
            </div>
            <mat-divider vertical="true" style="height: 530px;"></mat-divider>
            <div class="form-task">
                <p>Nueva tarea</p>
                <form [formGroup]="taskForm" (ngSubmit)="sendTaskForm()">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre de la tarea</mat-label>
                        <input matInput formControlName="title">
                        @if (taskForm.get('title')?.invalid && taskForm.get('title')?.touched) {
                            <mat-error>El nombre de la tarea es obligatoria</mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="description">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha a cumplir</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dueDate">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        @if (taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched) {
                            <mat-error>La fecha es obligatoria</mat-error>
                        }
                    </mat-form-field>

                    <button mat-stroked-button extended type="submit">Agregar tarea</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
  